# Git
.git
.gitignore

# Python
__pycache__
*.py[cod]
.venv
venv
.env
.env.*
*.db
local.db

# Node
node_modules
admin/frontend/node_modules
admin/frontend/dist

# IDE, tests
.idea
.vscode
tests/
*.log
